#============= bootanim ==============
allow bootanim unlabeled:file { read open };
allow bootanim unlabeled:dir search;
allow bootanim mpctl_socket:dir search;
