#============= charger_monitor ==============
allow charger_monitor unlabeled:file { read getattr open };
allow charger_monitor unlabeled:dir search;
