#============= gsiff_daemon ==============
type gsiff_daemon, exec_type;

allow gsiff_daemon location_data_file:dir { write remove_name add_name };
allow gsiff_daemon location_data_file:fifo_file { read write open setattr };
allow gsiff_daemon location_data_file:sock_file { create unlink setattr };
allow gsiff_daemon qmuxd:unix_stream_socket connectto;
allow gsiff_daemon qmuxd_socket:dir { write add_name };
allow gsiff_daemon qmuxd_socket:sock_file { write create setattr };
allow gsiff_daemon self:socket { write read create ioctl };
allow gsiff_daemon sensors:unix_stream_socket connectto;
allow gsiff_daemon sensors_device:chr_file getattr;
allow gsiff_daemon sensors_socket:sock_file write;
