#============= mpdecision ==============
allow mpdecision socket_device:dir { write remove_name add_name };
allow mpdecision socket_device:sock_file { create unlink setattr };
allow mpdecision system_data_file:dir { add_name remove_name write };
allow mpdecision system_data_file:sock_file { create setattr unlink write };
