#============= ims ==============
allow ims unlabeled:file { read getattr open };
allow ims unlabeled:dir search;

#============= irsc_util ==============
allow irsc_util unlabeled:file { read getattr open };
allow irsc_util unlabeled:dir search;

#============= netd ==============
allow netd unlabeled:dir { read search open };
allow netd unlabeled:file { read write getattr open };

#============= netmgrd ==============
allow netmgrd unlabeled:file { read getattr open write };
allow netmgrd unlabeled:dir search;

#============= radio ==============
allow radio unlabeled:dir search;
allow radio unlabeled:file { read getattr open };

#============= rild ==============
allow rild unlabeled:file { read getattr open };
allow rild unlabeled:dir search;

#============= rmt_storage ==============
allow rmt_storage ssd_device:blk_file { read write open };
allow rmt_storage unlabeled:file { read getattr open };
allow rmt_storage unlabeled:dir search;

#============= wpa ==============
allow wpa unlabeled:file { read getattr open };
allow wpa unlabeled:dir search;
