#============= sensors ==============
allow sensors init:unix_stream_socket connectto;
allow sensors persist_file:file { read write getattr open setattr };
allow sensors property_socket:sock_file write;
allow sensors system_data_file:file open;
allow sensors system_prop:property_service set;
