#============= shell ==============
allow shell init_exec:file getattr;
allow shell livedisplay_sysfs:file getattr;
allow shell sysfs_graphics:file getattr;
