# display tuning
allow system_server display_sysfs:file rw_file_perms;

# for CMHardwareService access to VibratorHW
allow system_server vibeamp_sysfs:file rw_file_perms;
