#============= wcnss ==============
allow wcnss_service persist_file:dir { write create add_name };
type_transition wcnss_service persist_file:file wifi_data_file ".genmac";
allow wcnss_service unlabeled:file { read getattr open };
allow wcnss_service unlabeled:dir search;
